{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <title>Notes</title>
    </head>

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="{% static 'images/note.png' %}" alt="note" width="32" height="32" /></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right">
                        {% if add_note_menu %}
                            <a href="{% url 'add note' %}">Add Note</a>
                        {% endif %}
                        {% if profile_menu %}
                            <a href="/profile">Profile</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            {% block page_content %}
            {% endblock %}
                    <!--end note edit data form-->
        </div>

        <!--footer-->
        <footer>
            <div>Python Web Basics Exam @SoftUni</div>
        </footer>
        <!--end footer-->
    </body>
</html>